.intro__list {
    margin: 0;
    margin-top: 33px;
    max-width: 690px;
    font-family: 'Inter', sans-serif, 'Arial';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    color: #FFFFFF;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .intro__list {
       margin: 33px auto 0;
       max-width: 720px;
    }
}